h1 {
    text-align: center;
  
}

table {
    margin: 50px auto auto auto;
}






table
{
   
    border-collapse: collapse;
}
td, th /* Mettre une bordure sur les td ET les th */
{
    border:  solid  #7f8c8d;
    margin: 0;
   
}
